@font-face {
  font-family: 'PTSans';
  font-display: swap;
  src: url('./fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Narrow';
  font-display: swap;
  src: url('./fonts/PTSans-Narrow.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family-general: 'PTSans', 'Arial', sans-serif;
  --font-family-heading: 'PTSans-Narrow', 'Arial', sans-serif;

  --primary-color: #0078BB;
  --primary-hover-color: #62B9EA;
  --primary-active-color: #0A6EA6;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #808080;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 40px;
  padding: 0 calc(50% - 500px);
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 1199px) {
  .container {
    padding: 30px 40px 80px;
  }
}

@media (max-width: 767px) {
  .container {
    display: block;
    padding: 30px 20px 80px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.header__nav-menu {
  margin-left: auto;
}

@media (max-width: 1199px) {
  .header__nav-menu {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header__nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  display: block;
  text-decoration: none;
  font-family: var(--font-family-heading);
  font-size: 64px;
  line-height: 83px;
  color: var(--black-color);
}

@media (max-width: 767px) {
  .logo {
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .logo svg {
    width: 48px;
    height: 42px;
  }
}

.logo__text {
  margin-left: -5px;
}

.logo:hover {
  color: var(--primary-hover-color);
}

.logo:active {
  color: var(--primary-active-color);
}

.logo:focus {
  outline-width: 2px;
  outline-color: var(--primary-hover-color);
}

.nav-menu__link {
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

.nav-menu__link:hover {
  text-decoration: none;
  color: var(--primary-hover-color);
}

.nav-menu__link:active {
  color: var(--primary-active-color);
}

.nav-menu__link:focus {
  outline-width: 2px;
  outline-color: var(--primary-hover-color);
}

.nav-menu__link {
  margin-right: 18px;
}

@media (max-width: 767px) {
  .nav-menu__link:last-child {
    margin-right: 0;
  }
}

.user-menu {
  display: inline-block;
  padding: 6px 29px;
  border-radius: 4px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.user-menu:hover {
  background-color: var(--primary-hover-color);
}

.user-menu:active {
  background-color: var(--primary-active-color);
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .user-menu {
    margin-top: 18px;
  }
}

.about,
.gift {
  grid-column: 1 / 2;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .about { margin-bottom: 46px; }
}

@media (max-width: 767px) {
  .gift { margin-bottom: 58px; }
}

.about h2,
.gift h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: var(--font-family-heading);
  font-size: 42px;
  line-height: 54px;
  font-weight: 400;
  color: var(--black-color);
}

.about p,
.gift p {
  margin-top: 0;
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
}

@media (max-width: 767px) {
  .about p,
  .gift p {
    width: 90%;
    text-align: left;
  }
}

.form {
  padding-top: 18px;
}

@media (max-width: 767px) {
  .form {
    padding-top: 34px;
  }
}

.form fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.form legend {
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-family-heading);
  font-size: 28px;
  line-height: 36px;
  color: var(--black-color);
}

.form textarea {
  width: 100%;
  min-height: 160px;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
  resize: none;
}

.form textarea::placeholder {
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-color);
}

.form textarea:hover {
  border-color:rgba(0, 0, 0, 0.30);
}

.form textarea:focus {
  outline-width: 2px;
  outline-color: var(--primary-hover-color);
}

.form label {
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
}

.form-options label {
  display: flex;
  align-items: center;
}

.form-options label:not(:last-child) {
  margin-bottom: 26px;
}

.form-options-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.form-options-checkbox::before {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('./img/icon/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.form-options input:checked + .form-options-checkbox::before {
  display: block;
}

.form-options input:hover + .form-options-checkbox {
  border-color:rgba(0, 0, 0, 0.30);
}

.form-options input:focus + .form-options-checkbox {
  border-width: 2px;
  border-color: var(--primary-hover-color);
}

.form-contacts input {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-contacts input:hover {
  border-color:rgba(0, 0, 0, 0.30);
}

.form-contacts input:focus {
  outline-width: 2px;
  outline-color: var(--primary-hover-color);
}

.form-contacts input::placeholder {
  font-family: var(--font-family-general);
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-color);
}

.form-contacts label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .form-contacts label {
    flex-direction: column;
  }
}

.form-contacts label:not(:last-child) {
  margin-bottom: 18px;
}

.form-contacts__text {
  width: 17%;
}

@media (max-width: 767px) {
  .form-contacts__text {
    width: auto;
    margin-right: auto;
    margin-bottom: 9px;
    padding-top: 4px;
  }
}

.form-contacts__email {
  position: relative;
  width: 100%;
}

.form-contacts-mark {
  position: absolute;
  left: 0;
  bottom: -22px;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-color);
}

.form__button {
  appearance: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 84px;
  padding: 11px 24px;
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-general);
  font-size: 20px;
  line-height: 26px;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .form__button {
    width: 100%;
    justify-content: center;
    margin-top: 90px;
  }
}

.form__button svg {
  margin-right: 10px;
}

.form__button:hover {
  background-color: var(--primary-hover-color);
}

.form__button:active {
  background-color: var(--primary-active-color);
  color: rgba(255, 255, 255, 0.6);
}

.happy-cats {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.happy-cats h2 {
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: var(--font-family-heading);
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: var(--black-color);
}

.happy-cats__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.happy-cats__item:not(:last-child) {
  margin-bottom: 15px;
}

.happy-cats__item {
  text-align: center;
}

.happy-cats__list img {
  vertical-align: bottom;
}

@media (max-width: 767px) {
  .happy-cats__item img {
    width: 335px;
    height: 224px;
  }

  .happy-cats__item--2 img {
    height: 447px;
  }
}
